body {
  margin: 0;
}

p {
  color: #454545;
  font-size: 25px;
  font-family: "Rajdhani-light", serif;
}

h1 {
  color: #ffffff;
  font-size: 40px;
  font-family: "PlayfairDisplay-Black", serif;
}

h2 {
  color: #454545;
  font-size: 25px;
  font-family: "PlayfairDisplay-Regular", serif;
}

h3 {
  color: #d9d9d9;
  font-size: 28px;
  font-family: "PlayfairDisplay-Regular", serif;
}

@font-face {
  font-family: PlayfairDisplay-Black;
  src: url("/fonts/PlayfairDisplay-Black.ttf");
}

@font-face {
  font-family: PlayfairDisplay-Bold;
  src: url("/fonts/PlayfairDisplay-Bold.ttf");
}

@font-face {
  font-family: PlayfairDisplay-Regular;
  src: url("/fonts/PlayfairDisplay-Regular.ttf");
}

@font-face {
  font-family: PlayfairDisplay-Italic;
  src: url("/fonts/PlayfairDisplay-Italic.ttf");
}

@font-face {
  font-family: Rajdhani-Bold;
  src: url("/fonts/Rajdhani-Bold.ttf");
}

@font-face {
  font-family: Rajdhani-Medium;
  src: url("/fonts/Rajdhani-Medium.ttf");
}

@font-face {
  font-family: Rajdhani-Regular;
  src: url("/fonts/Rajdhani-Regular.ttf");
}

@font-face {
  font-family: Rajdhani-Light;
  src: url("/fonts/Rajdhani-Light.ttf");
}
